<a href="https://colab.research.google.com/github/gianella-rocca/BiLab_Python/blob/main/Clase_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## 1.4 Pandas

You can and should always ask ChatGPT, BARD, Bing, etc.
In this exercise, you will work with financial data. Follow the steps below:

1. Load Data:
   Load the financial data available at this URL:    https://raw.githubusercontent.com/datasets/finance-vix/main/data/vix-daily.csv
   Use `pd.read_csv()` adn the link to load the data into a DataFrame.

2. Explore Data:
   a) Display the first five rows of the DataFrame.
   b) Display the summary statistics of the DataFrame.

3. Add Columns:
   a) Add a new column 'Level' that categorizes the 'Close' column values into 'Low' (< 20), 'Medium' (20-30), and 'High' (>30). You need to make a filter to make this categorization. You can see below some suggestions how to do it.
   b) Add a new column 'Year' extracted from the 'Date' column. You need to work with dates. You can do it directly workiwith the column splitting it or changing it to date format an dfollowing the below suggestion.

4. Add Rows:
   a) Add a new row with a date of your choice and fill the other columns with appropriate values.

5. Analysis:
   a) Calculate the average of the column 'Close' for each 'Year'. You need to group for this task.
   b) Count the number of 'High', 'Medium', and 'Low'  Level days in the data.

Suggestions:
   - Use `pd.cut()` for categorizing 'Close' values.
   - Use `pd.to_datetime()` and `dt.year` to extract the year from a date.
   - Use `DataFrame.append()` or `pd.concat()` to add rows.
   - Use `groupby()` for aggregation tasks.

1.

In [ ]:
import pandas as pd

In [ ]:
url= 'https://raw.githubusercontent.com/datasets/finance-vix/main/data/vix-daily.csv'

In [ ]:
df= pd.read_csv(url)

2a

In [ ]:
df.head(5)

         DATE   OPEN   HIGH    LOW  CLOSE
0  01/02/1990  17.24  17.24  17.24  17.24
1  01/03/1990  18.19  18.19  18.19  18.19
2  01/04/1990  19.22  19.22  19.22  19.22
3  01/05/1990  20.11  20.11  20.11  20.11
4  01/08/1990  20.26  20.26  20.26  20.26

2b

In [ ]:
summary_stats = df.describe()
print(summary_stats)

              OPEN         HIGH          LOW        CLOSE
count  8578.000000  8578.000000  8578.000000  8578.000000
mean     19.665794    20.473630    18.914197    19.579616
std       7.978835     8.439709     7.469663     7.906064
min       9.010000     9.310000     8.560000     9.140000
25%      13.940000    14.540000    13.400000    13.880000
50%      17.790000    18.465000    17.215000    17.760000
75%      23.097500    23.960000    22.320000    22.990000
max      82.690000    89.530000    72.760000    82.690000

3a

In [ ]:
df["LEVEL"] = pd.cut(df["CLOSE"], bins=[0, 20, 30, float("inf")], labels=["Low", "Medium", "High"])

print(df["LEVEL"])

0          Low
1          Low
2          Low
3       Medium
4       Medium
         ...
8573       Low
8574       Low
8575       Low
8576       Low
8577       Low
Name: LEVEL, Length: 8578, dtype: category
Categories (3, object): ['Low' < 'Medium' < 'High']

3b

In [ ]:
df['YEAR'] = pd.to_datetime(df['DATE']).dt.year
print(df['YEAR'])

0       1990
1       1990
2       1990
3       1990
4       1990
        ...
8573    2024
8574    2024
8575    2024
8576    2024
8577    2024
Name: YEAR, Length: 8578, dtype: int64

4.

In [ ]:
new_row = {'DATE': '10/01/2024', 'OPEN': 20.0, 'HIGH': 25.0, 'LOW': 15.0, 'CLOSE': 22.5, 'ADJ CLOSE': 22.5, 'VOLUME': 1000, 'LEVEL': 'Medium', 'YEAR': 2024}
df = df.append(new_row, ignore_index=True)
print (df)

            DATE   OPEN   HIGH    LOW  CLOSE   LEVEL  YEAR  ADJ CLOSE  VOLUME
0     01/02/1990  17.24  17.24  17.24  17.24     Low  1990        NaN     NaN
1     01/03/1990  18.19  18.19  18.19  18.19     Low  1990        NaN     NaN
2     01/04/1990  19.22  19.22  19.22  19.22     Low  1990        NaN     NaN
3     01/05/1990  20.11  20.11  20.11  20.11  Medium  1990        NaN     NaN
4     01/08/1990  20.26  20.26  20.26  20.26  Medium  1990        NaN     NaN
...          ...    ...    ...    ...    ...     ...   ...        ...     ...
8574  01/03/2024  13.35  14.22  13.33  14.04     Low  2024        NaN     NaN
8575  01/04/2024  13.93  14.20  13.64  14.13     Low  2024        NaN     NaN
8576  01/05/2024  14.24  14.58  13.29  13.35     Low  2024        NaN     NaN
8577  01/08/2024  14.00  14.18  13.02  13.08     Low  2024        NaN     NaN
8578  10/01/2024  20.00  25.00  15.00  22.50  Medium  2024       22.5  1000.0

[8579 rows x 9 columns]

<ipython-input-51-45c04ea0b2b7>:2: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(new_row, ignore_index=True)

5a.

In [ ]:
average_close_per_year = df.groupby('YEAR')['CLOSE'].mean()
print(average_close_per_year)

YEAR
1990    23.063478
1991    18.373373
1992    15.452047
1993    12.686245
1994    13.925516
1995    12.388770
1996    16.442165
1997    22.363984
1998    25.602976
1999    24.371912
2000    23.315000
2001    25.749677
2002    27.292460
2003    21.982857
2004    15.479644
2005    12.807063
2006    12.810320
2007    17.535936
2008    32.695534
2009    31.479008
2010    22.548889
2011    24.202579
2012    17.801640
2013    14.230119
2014    14.175992
2015    16.674087
2016    15.825635
2017    11.090239
2018    16.639841
2019    15.387540
2020    29.251304
2021    19.656151
2022    25.637148
2023    16.849027
2024    15.050000
Name: CLOSE, dtype: float64

5b.

In [ ]:
level_counts = df['LEVEL'].value_counts()
print(level_counts)

Low       5276
Medium    2583
High       720
Name: LEVEL, dtype: int64