# TUPLE

In [1]:
tuple1 = ("Orange", [10, 20, 30], (5, 15, 25))

1.

In [2]:
print(tuple1 [1][0])

10

Explanation: each element is separated by a comma, so the second element is [10, 20, 30] and the first element of this element is 10.

2.

In [3]:
print ( tuple1[-1])

(5, 15, 25)

Explanation: To print the last item we have to use negative indexing.

3.

It’s not possible because the tuples don’t change.They cannot be modified, they remain the same until the end once created.

4.

In [4]:
print(len(tuple1))

3

Explanation: We use the len function to know the number of elements

5.

In [5]:
tuple2 = ([7, 8], [9, 1], [10, 7])

Step1: We have to use the sum function to each sublist using map

In [8]:
map_sum = map(sum, tuple2)

Step2: We have to convert map_sum to a list

In [9]:
list_sum= list(map_sum)

Step 3: We have to sum all the individual sums

In [10]:
all_sum= sum(list_sum)

Step 4: We have to print to get the result

In [11]:
print(all_sum)

42

6.

In [1]:
tuple2 = ([7, 8], [9, 1], [10, 7])
tuple3 = tuple([list(map(lambda x: x/2, sublist)) for sublist in tuple2])
print(tuple3)

([3.5, 4.0], [4.5, 0.5], [5.0, 3.5])

In [ ]:
Explanation: lambda x: x/2 defines a function that halves the values of tuple2. The [list(map(...)) for sublist in tuple2] loop applies this operation to each list in tuple2.

# 1.2 Lists

1.

In [2]:
import numpy as np

f_list = [np.nan , np.nan, "Austria", "Germany", np.nan, "Pakistan", "np.nan", np.nan ]
indices = [i for i, x in enumerate(f_list) if x is np.nan]

print(f"The indices {', '.join(map(str, indices))} have np.nan values.")

The indices 0, 1, 4, 7 have np.nan values.

In [ ]:
Explanation: enumerate function allows us to find the position of the values in a list.

2.

In [3]:
p2_list = [ 2 , 3, 4, 5 ]
replicated_list = p2_list * 4
print(replicated_list)

[2, 3, 4, 5, 2, 3, 4, 5, 2, 3, 4, 5, 2, 3, 4, 5]

In [ ]:
Explanation: multiplication function allows us to quadruple the list.

3.

In [4]:
import numpy as np

f_list = [np.nan, np.nan, "Austria", "Germany", np.nan, "Pakistan", "np.nan", np.nan]
length_of_list = len(f_list)
print(length_of_list)

8

In [ ]:
Explanation: length function allows us to know the number of values in the list.

4.

In [6]:
text1 = ['My', 'teacher', 'assistant', 'is', 'so', 'boring.']
sentence = ' '.join(text1)
print(sentence)

My teacher assistant is so boring.

Explanation: After we declared 'text1' we used the join function to join the words on the text1 list. Then we printed it.

5.

In [7]:
text1.index('boring.')

5

In [8]:
text1[5] = 'boring,'
extra_words = ['but', 'is', 'very', 'funny.']
text1.extend(extra_words)
sentence2 = ' '.join(text1)
print (sentence2)

My teacher assistant is so boring, but is very funny.

Explanation: First we need to replace 'boring.' with 'boring,' because in the new sentence 'sentence2' boring is followed by a comma, not by a dot. For that we need to know in which position is that element of the list 'text1', then replace it. After that, we made a list with the new words that are going to be included. Then we extended the first list 'text1' with the elements of 'extra_words' and joined all the words of improved text1 in a new sentence 'sentence2'. Finally we printed it.

6.

In [10]:
values1 = [ 86, 86, 85, 85, 85, 83, 23, 0, 84, 1 ] 

max_value = max(values1)
max_index = values1.index(max_value)

min_value = min(values1)
min_index = values1.index(min_value)

print(f"The max value of values1 is {max_value} and is located in the {max_index} index.")
print(f"The min value of values1 is {min_value} and is located in the {min_index} index.")

The max value of values1 is 86 and is located in the 0 index.
The min value of values1 is 0 and is located in the 7 index.

Explanation: After we declared 'values1', we declared that 'max_value' is going to be the max value of 'values1' to complete the first part of the sentence and then for the second we declared that 'max_index' is going to be the position of the 'max_value'. Same for min. So then with f-string we printed the sentences with the space for the max_value and max_index. Same for min.

7.

In [3]:
last_and_name = [ 'CORNEJO SANCHEZ, CHRISTIAN SANTOS', 'ORELLANA QUISPE, CRISTIAN NASSER', 'MORALES CHOQUEHUANCA, ANGELICA KARINA', 'GUIMARAY RIBEYRO, JOSE ROBERTO', 'CAMACHO GAVIDIA, ABEL FERNANDO', 'TINTAYA ORIHUELA, MEIR ALVARO', 'CHAVEZ MARTINEZ, JOSELIN ALEXANDRA', 'FIGUEROA MURO, LEONEL ARTURO', 'GOMEZ CRIBILLERO, JOSE FELIPE', 'PALOMINO SEGUÍN, AFRANIA', 'LUZON CUEVA, BIANCA MARIETTE', 'SUAÑA ZEGARRA, ADRIAN ANDRE', 'SOTO POMACHAGUA, DORKAS YOMIRA JHERMY', 'FIORENTINO MARTINEZ, LADY ALY', 'LAMA MAVILA, HECTOR ANDRE', 'MEZA HINOJO, GUSTAVO', 'LOZADA MURILLO, PERSEO MARCELO', 'ZAMBRANO JIMENEZ, MIGUEL ALONZO', 'JACOBS LUQUE, NICOLAS', 'VIDAL VIDAL, ROCIO GABRIELA', 'TORRES ANICAMA, JANE CAMILA', 'LOPEZ ESTRADA, MARIA ELISA', 'BOYCO ORAMS, ALEJANDRO', 'DIAZ BERROSPI, KARLINE ROSMELI', 'RIEGA ESCALANTE, STEPHY ROSARIO', 'LEVANO TORRES, VALERIA CECILIA', 'ESQUIVES BRAVO, SEBASTIAN RENATO', 'PEREZ GONZALES, JUAN CARLOS', 'OTERO MAGUIÑA, MARIANA', 'CLAVO CAMPOS, ANDREA BRIZETH', 'AGUILAR GARCIA, ERICK JOSUE', 'CALDAS VELASQUEZ, JOSUE DANIEL', 'SALAS NUÑEZ BORJA, FABIO MANUEL', 'PIZARRO VILLANES, FERNANDA NICOLLE', 'QUILLATUPA MORALES, ANGELA ADELINA', 'HUANCAYA IDONE, CESAR DANTE', 'CALVO PORTOCARRERO, GABRIELA ISABEL', 'IBAÑEZ ABANTO, ANGEL MAURICIO', 'MELÉNDEZ APONTE, JUAN DIEGO', 'CRISTIAN SERRANO, ARONE', 'HINOJOSA CAHUANA, PERCY ALBERTH', 'ANGLAS GARCÍA, KEVIN ARTURO', 'ALDAVE ACOSTA, CESAR ERNESTO', 'NÚÑEZ HUAMÁN, CÉSAR AGUSTO', 'OBREGON HUAMAN, DIANA EDITH', 'SOTO PACHERRES, RODRIGO FRANCO', 'INGARUCA RIVERA, GRETTEL ALEXANDRA', 'ROJAS HUAMAN, ROSA ANGELA', 'NEYRA SALAS, DANTE OMAR', 'HUERTA ESPINOZA, YAJAIRA ALEXANDRA', 'HUANCA MARTINEZ, JORGE ALBERTO', 'FLORES CADILLO, ALEXIS' ]

first_names = list(map(lambda x: x.split(', ')[1], last_and_name)) 
last_names = list(map(lambda x: x.split(', ')[0], last_and_name))

print("First Names:")
print(first_names)
print("\nLast Names:")
print(last_names)

First Names:
['CHRISTIAN SANTOS', 'CRISTIAN NASSER', 'ANGELICA KARINA', 'JOSE ROBERTO', 'ABEL FERNANDO', 'MEIR ALVARO', 'JOSELIN ALEXANDRA', 'LEONEL ARTURO', 'JOSE FELIPE', 'AFRANIA', 'BIANCA MARIETTE', 'ADRIAN ANDRE', 'DORKAS YOMIRA JHERMY', 'LADY ALY', 'HECTOR ANDRE', 'GUSTAVO', 'PERSEO MARCELO', 'MIGUEL ALONZO', 'NICOLAS', 'ROCIO GABRIELA', 'JANE CAMILA', 'MARIA ELISA', 'ALEJANDRO', 'KARLINE ROSMELI', 'STEPHY ROSARIO', 'VALERIA CECILIA', 'SEBASTIAN RENATO', 'JUAN CARLOS', 'MARIANA', 'ANDREA BRIZETH', 'ERICK JOSUE', 'JOSUE DANIEL', 'FABIO MANUEL', 'FERNANDA NICOLLE', 'ANGELA ADELINA', 'CESAR DANTE', 'GABRIELA ISABEL', 'ANGEL MAURICIO', 'JUAN DIEGO', 'ARONE', 'PERCY ALBERTH', 'KEVIN ARTURO', 'CESAR ERNESTO', 'CÉSAR AGUSTO', 'DIANA EDITH', 'RODRIGO FRANCO', 'GRETTEL ALEXANDRA', 'ROSA ANGELA', 'DANTE OMAR', 'YAJAIRA ALEXANDRA', 'JORGE ALBERTO', 'ALEXIS']

Last Names:
['CORNEJO SANCHEZ', 'ORELLANA QUISPE', 'MORALES CHOQUEHUANCA', 'GUIMARAY RIBEYRO', 'CAMACHO GAVIDIA', 'TINTAYA ORIHUELA', 'CHAVEZ MARTINEZ', 'FIGUEROA MURO', 'GOMEZ CRIBILLERO', 'PALOMINO SEGUÍN', 'LUZON CUEVA', 'SUAÑA ZEGARRA', 'SOTO POMACHAGUA', 'FIORENTINO MARTINEZ', 'LAMA MAVILA', 'MEZA HINOJO', 'LOZADA MURILLO', 'ZAMBRANO JIMENEZ', 'JACOBS LUQUE', 'VIDAL VIDAL', 'TORRES ANICAMA', 'LOPEZ ESTRADA', 'BOYCO ORAMS', 'DIAZ BERROSPI', 'RIEGA ESCALANTE', 'LEVANO TORRES', 'ESQUIVES BRAVO', 'PEREZ GONZALES', 'OTERO MAGUIÑA', 'CLAVO CAMPOS', 'AGUILAR GARCIA', 'CALDAS VELASQUEZ', 'SALAS NUÑEZ BORJA', 'PIZARRO VILLANES', 'QUILLATUPA MORALES', 'HUANCAYA IDONE', 'CALVO PORTOCARRERO', 'IBAÑEZ ABANTO', 'MELÉNDEZ APONTE', 'CRISTIAN SERRANO', 'HINOJOSA CAHUANA', 'ANGLAS GARCÍA', 'ALDAVE ACOSTA', 'NÚÑEZ HUAMÁN', 'OBREGON HUAMAN', 'SOTO PACHERRES', 'INGARUCA RIVERA', 'ROJAS HUAMAN', 'NEYRA SALAS', 'HUERTA ESPINOZA', 'HUANCA MARTINEZ', 'FLORES CADILLO']

Explanation: The first list, first_names, was created by using map() and a lambda function that splits each string using ', ' as a separator and extracts the second element after the split, which corresponds to the names. For the second list, last_names, we used a similar lambda function, but this one extracts the first element after the split, representing last names. Using list() converts the resulting map objects to lists.

8.

In [4]:
emails = ["cscornejo@pucp.edu.pe", "orellana.cn@pucp.edu.pe", "karina.morales@pucp.edu.pe", "a20083223@pucp.pe", "abel.camacho@pucp.pe", "mtintaya@pucp.edu.pe", "joselin.chavez@pucp.edu.pe", "a20105737@pucp.pe", "jfgomezc@pucp.pe", "afrania.palomino@pucp.pe", "luzon.bianca@pucp.pe", "adrian.suanaz@pucp.pe", "soto.y@pucp.edu.pe", "a20132766@pucp.pe", "andre.lama@pucp.edu.pe", "gustavo.meza@pucp.edu.pe", "pmlozada@pucp.edu.pe", "m.zambranoj@pucp.edu.pe", "nicolas.jacobs@pucp.edu.pe", "gvidal@pucp.edu.pe", "jane.torres@pucp.edu.pe", "m.lopez@pucp.edu.pe", "alejandro.boyco@pucp.edu.pe", "a20167070@pucp.edu.pe", "riega.stephy@pucp.edu.pe", "vlevanot@pucp.edu.pe", "sesquives@pucp.edu.pe", "perez.juanc@pucp.edu.pe", "mariana.otero@pucp.edu.pe", "aclavo@pucp.edu.pe", "a20182474@pucp.edu.pe", "josue.caldas@pucp.edu.pe", "fabio.salas@pucp.edu.pe", "fernanda.pizarro@pucp.edu.pe", "aquillatupa@pucp.pe", "", "", "", "", "", "f0873079@pucp.edu.pe", "", "", "", "", "", "", "", "", "", "", "flores.alexis@pucp.edu.pe", ]
last_names = list(map(lambda full_name: full_name.split(',')[0], last_and_name))
data = zip(last_names, emails)
last_names_no_email = [last_name for last_name, email in data if email == '']
print("Last Names of Students without Email:", last_names_no_email)

Last Names of Students without Email: ['HUANCAYA IDONE', 'CALVO PORTOCARRERO', 'IBAÑEZ ABANTO', 'MELÉNDEZ APONTE', 'CRISTIAN SERRANO', 'ANGLAS GARCÍA', 'ALDAVE ACOSTA', 'NÚÑEZ HUAMÁN', 'OBREGON HUAMAN', 'SOTO PACHERRES', 'INGARUCA RIVERA', 'ROJAS HUAMAN', 'NEYRA SALAS', 'HUERTA ESPINOZA', 'HUANCA MARTINEZ']

Explanation: With data = zip(last_names, emails) the zip() function took two lists (last_names and emails) and created a sequence of tuples, combining the elements corresponding to both lists. In other words, it creates a sequence that relates last names to email addresses.

With last_names_without_email = [last_name for last_name, email in data if email == '']: A comprehension list was used to iterate over the tuples generated by zip(). For each tuple (last_name, email) in data, it checks whether the email is empty (''). If the email is empty, the last_name (last name) is added to the last_names_without_email list.

# 1.3 Strings

In [2]:
# Input data provided
str1 = 'I am                            too                                                        old'
emails = ["cscornejo@pucp.edu.pe", "orellana.cn@pucp.edu.pe", "karina.morales@pucp.edu.pe", "a20083223@pucp.pe", "abel.camacho@pucp.pe", "mtintaya@pucp.edu.pe", "joselin.chavez@pucp.edu.pe", "a20105737@pucp.pe", "jfgomezc@pucp.pe", "afrania.palomino@pucp.pe", "luzon.bianca@pucp.pe", "adrian.suanaz@pucp.pe", "soto.y@pucp.edu.pe", "a20132766@pucp.pe", "andre.lama@pucp.edu.pe", "gustavo.meza@pucp.edu.pe", "pmlozada@pucp.edu.pe", "m.zambranoj@pucp.edu.pe", "nicolas.jacobs@pucp.edu.pe", "gvidal@pucp.edu.pe", "jane.torres@pucp.edu.pe", "m.lopez@pucp.edu.pe", "alejandro.boyco@pucp.edu.pe", "a20167070@pucp.edu.pe", "riega.stephy@pucp.edu.pe", "vlevanot@pucp.edu.pe", "sesquives@pucp.edu.pe", "perez.juanc@pucp.edu.pe", "mariana.otero@pucp.edu.pe", "aclavo@pucp.edu.pe", "a20182474@pucp.edu.pe", "josue.caldas@pucp.edu.pe", "fabio.salas@pucp.edu.pe", "fernanda.pizarro@pucp.edu.pe", "aquillatupa@pucp.pe"]

## 1.

In [3]:
# Eliminate redundant whitespace in the string, str1
withoutblanks_str1 = ' '.join(str1.split())
print(withoutblanks_str1)

I am too old

## 2.

In [ ]:
# Calculate the cardinality of alphabetical characters within the specified string, considering its length and individual occurrences of each letter.
num_letters = sum(char.isalpha() for char in str1)
print(num_letters)

## 3.

In [5]:
# Retrieve the count of whitespace characters within the string.
num_spaces = sum(map(str.isspace, str1))
print(num_spaces)

85

In [6]:
# Derive the count of spaces devoid of any additional whitespace characters within the given string.
num_spaces = sum(map(str.isspace, withoutblanks_str1))
print(num_spaces)

3

## 4.

In [7]:
# Provided a list of emails, utilize map and find functions to determine the position of '@' in each email, showcasing the respective positions of '@' in the emails.
positions_arroba = list(map(lambda email: email.find('@'), emails))
print(positions_arroba)

[9, 11, 14, 9, 12, 8, 14, 9, 8, 16, 12, 13, 6, 9, 10, 12, 8, 11, 14, 6, 11, 7, 15, 9, 12, 8, 9, 11, 13, 6, 9, 12, 11, 16, 11]

## 5.

In [8]:
# Given a list of emails, search for the presence of '.edu.' in each string, generating a list of Booleans representing its existence.
edu_exists = list(map(lambda x: '.edu.' in x, emails))
print(edu_exists)

[True, True, True, False, False, True, True, False, False, False, False, False, True, False, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, False]

## 6.

In [9]:
# Get all the email strings before the first dot ('.') in each email address
emails_before_dot = map(lambda email: email[:email.find('.')], emails)

# Count how many of those substrings contain the '@' symbol
count_with_at = sum(map(lambda email: '@' in email, emails_before_dot))

# Display the total count of email substrings that have '@' after the first dot ('.')
print(count_with_at)

14